$secondary-text-color: rgb(172, 172, 172);
$first-text-color:     rgb(59, 59, 59);

$background-color:           rgb(255, 255, 255);
$background-secondary-color: rgb(241, 241, 241);
$background-code-color:      rgb(211, 211, 211);

// SIDEBAR VARIABLES
$background-sidebar-color:   rgb(219, 219, 219);
$background-sidebar-color-hover:   rgb(187, 187, 187);
$background-sidebar-color-active:   rgb(145, 145, 145);
$border-left-margin:    2.6rem;


$side-bar-size: 12rem