$secondary-text-color: rgb(172, 172, 172);
$first-text-color:     rgb(59, 59, 59);

$background-color:           rgb(255, 255, 255);
$background-secondary-color: rgb(241, 241, 241);
$background-code-color:      rgb(211, 211, 211);

$border-left-margin:    2.6rem